* {
  margin: 0% !important;
  padding: 0% !important;
  /*  font-family: "Hachi Maru Pop", cursive; */
  /* font-family: "Lily Script One", cursive; */
  /*  font-family: "Uncial Antiqua", cursive; */
  font-family: "Chicle";
}
body {
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  font-size: 16px;
}
.navbar {
  background-color: black;
}
.collapse {
  justify-content: end;
}
navbar,
img {
  width: 5rem;
}
.nav-link img {
  width: 2.5rem;
}
.navbar-collapse img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.saludo {
  font-size: 100px;
  padding-left: 3.125rem !important;
  padding-top: 4.1875rem !important;
  padding-bottom: 1.25rem !important;
  display: flex;
  justify-content: left;
  text-align: center;
}
.descripción {
  display: flex;
  padding-left: 3.125rem !important;
  padding-right: 3.125rem !important;
  padding-top: 1.625rem !important;
}
.proyectos {
  display: flex;
  justify-content: end;
}

.flex-column {
  background-color: black;
}
.proyectos img {
  width: 3.4375rem;
}
.nav-link {
  font-family: "Courier New", Courier, monospace;
}
.iguana:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.decoplantas:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.cuppon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.footer {
  display: flex;
  background-color: black;
  color: rgb(235, 235, 0);
  padding: 0.9375rem !important;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
footer img {
  width: 1.875rem;
  height: 2.0625rem;
}
.indicación {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indicación img {
  width: 5rem;
}
.dropdown {
  padding-bottom: 3.125rem !important;
}
.dropdown-menu img {
  width: 2.5rem;
}
.dropdown-menu-dark {
  background-color: transparent !important;
}
.dropdown-menu {
  min-width: 0.625rem !important;
  border: 0 !important;
}
.dropdown-menu-dark li a:active {
  background: transparent !important;
}
.dropdown-menu-dark img:hover {
  filter: opacity(0.5);
  transition: all 0.4s ease-in-out;
}
.dropdown-menu-dark li a:hover {
  background: transparent !important;
}

.aside-header {
  display: flex;
}

.aside-header P {
  color: rgb(235, 235, 0);
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  font-size: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
