* {
  margin: 0% !important;
  padding: 0% !important;
  /*  font-family: "Hachi Maru Pop", cursive; */
  /* font-family: "Lily Script One", cursive; */
  /*  font-family: "Uncial Antiqua", cursive; */
  font-family: "Chicle";
}
body {
  background-image: url(../images/fondo.jpg);
  background-size: cover;
}
.navbar {
  background-color: black;
}
.collapse {
  justify-content: end;
}
navbar,
img {
  width: 80px;
}
.nav-link img {
  width: 40px;
}
.navbar-collapse img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.saludo {
  font-size: 100px;
  padding-left: 100px !important;
  padding-top: 67px !important;
  padding-bottom: 20px !important;
  display: flex;
  justify-content: left;
  text-align: center;
}
.descripción {
  display: flex;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 30px !important;
}
.proyectos {
  display: flex;
  justify-content: end;
}

.flex-column {
  background-color: black;
}
.proyectos img {
  width: 55px;
}
.nav-link {
  font-family: "Courier New", Courier, monospace;
}
.iguana:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.decoplantas:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.cuppon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
.footer {
  display: flex;
  background-color: black;
  color: aliceblue;
  padding: 15px !important;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
footer img {
  width: 30px;
  height: 33px;
}
.indicación {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indicación img {
  width: 100px;
}
.dropdown {
  padding-bottom: 50px !important;
}
.dropdown-menu img {
  width: 40px;
}
.dropdown-menu-dark {
  background-color: transparent !important;
}
.dropdown-menu {
  min-width: 10px !important;
  border: 0 !important;
}
.dropdown-menu-dark > li a:active {
  background: transparent !important;
}
.dropdown-menu-dark img:hover {
  filter: opacity(0.5);
  transition: all 0.4s ease-in-out;
}
.dropdown-menu-dark > li a:hover {
  background: transparent !important;
}
